# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# IDEs (VS Code, IntelliJ, Eclipse)
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath

# Docker & DB
postgres-data/
*.log

# OS
.DS_Store
Thumbs.db
